@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-search {
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.9))
          drop-shadow(0 0 12px rgba(255,255,255,0.7))
          drop-shadow(0 0 18px rgba(255,255,255,0.5));
}

.imgcontainer {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.imgcontainer .imgcontent {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}