@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-search {
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.9))
          drop-shadow(0 0 12px rgba(255,255,255,0.7))
          drop-shadow(0 0 18px rgba(255,255,255,0.5));
}